<!DOCTYPE html>
<html lang="en" ng-app="employees">

<head>
    <title>Demo</title>
<link rel="icon" href="https://undertale.aminoapps.com/static/bower/emojify.js/images/emoji/fish.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/frontend_app.js"></script>

</head>

<body>
    <h1>Demo</h1>

    <table class="table" ng-controller="all_employees">
        <thead>
            <tr>
                <th>employee</th>
                <th>UPDATE</th>
                <th>DELETE</th>
            </tr>
        </thead>

        <tbody ng-repeat="employee in employees">

            <tr>

                <td>
                    <a href="{{employee.name}}"> {{employee.name}}</a>
                </td>
                
                <td>
                    <button class="btn btn-warning" ng-click="update(employee)">UPDATE</button>
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="delete(employee)">DELETE</button>
                </td>

            </tr>
        </tbody>

    </table>

</body>

</html>
